<h1>Detail Produit </h1>
<h2>{{ product.name }}</h12>
<p>{{ product.description }}</p>
<p>Prix : {{ product.price }} €</p>
<p>Stock : {{ product.stock }}</p>
<p>Catégorie : {{ product.category.name }}</p>
