{{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.stock) }}
    {{ form_row(form.category) }}

    <button class="btn btn-primary mt-3">Ajouter</button>

{{ form_end(form) }}